/* CODE STARTS FROM HeRe */










* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./Utility Folder/BG_IMG_Makima.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.Main_Box_Container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}










/*-----------------------------------------------------------------------MAIN BOX CODE CONTENT */


.Main_Box {
    height: 99vh;
    width: 68vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main_QR_Box {
    border: 1px solid black;
    height: 75vh;
    width: 50vw;
    background-color: rgb(95 124 193 / 83%);
    border-radius: 20px;
    box-shadow: 0 20px 56px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
}



/* QR Text Title Section */

.QR_Text_Container {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.QR_Text {
    color: #212121;
    font-size: 35px;
    font-weight: 550;
}



/* QR Short Note Section */

.Text_Note_Container {
    height: auto;
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #222222;
}

.Text_Note {
    font-size: 14.5px;
    text-align: center;
}



/* QR URL Section */

.URL_Section {
    width: 100%;
    height: 50px;
}

.URL_Area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#URL_Input {
    height: 42px;
    width: 91%;
    outline: none;
    border: none;
    background-color: #000000;
    border-radius: 7px;
    padding-left: 10px;
    color: white;
    font-size: 14px;
}



/* Expiration Select Section */

.Select_Section {
    width: 100%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.Select_Area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Select_Expiry {
    height: 42px;
    width: 92.5%;
    outline: none;
    border: none;
    background-color: #000000;
    color: #7e7e7e;
    border-radius: 7px;
    padding-left: 6px;
    font-size: 14px;
}



/* Generate Button Section */

.Generate_Container {
    width: 100%;
    height: 75px;
    font-family: sans-serif;
}

.Generate_Area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Generate_Btn {
    height: 50px;
    width: 175px;
    font-size: 16px;
    border-radius: 11px;
    color: #bdbdbd;
    background-color: #212121;
    border: none;
    font-weight: bold;
}

#Generate_Btn:hover {
    cursor: pointer;
    background-color: #000000;
}










/*-----------------------------------------------------------------------QR CODE GENERATION SECTION */

.Display_QR_Code_Container {
    height: 200px;
    width: 100%;
    justify-content: center;
    display: none;
}

.QR_View_Area {
    height: 100%;
    width: 42%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 27px;
}

.QrCode {
    height: 100%;
    width: 75%;
}

.QrDWNLD {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Qr_Download_Button {
    border: none;
    height: 40px;
    width: 26px;
    background: none;
    font-size: 35px;
    font-weight: bolder;
    color: black;
}

#Qr_Download_Button:hover {
    color: #313030;
    cursor: pointer;
}










/*-----------------------------------------------------------------------SIDE TOOL CODE SECTION */

.Side_Tool_Box {
    height: 99vh;
    width: 30vw;
}



/* History Button Section */

.Tool_Container {
    height: 45px;
    width: 100%;
}

.History_Area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#History_Img {
    height: 35px;
    width: 35px;
}

#History_Btn {
    border: 1px solid black;
    border-radius: 3px;
    height: 22px;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
    color: white;
    outline: none;
}

#History_Btn:hover {
    cursor: pointer;
    background-color: #000000;
}










/*-----------------------------------------------------------------------POP-UP PAGE SECTION */

.Pop-Up_Section {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
}



/* QR History Section */

.QR_History {
    height: 86vh;
    width: 33vw;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 8px 82px rgb(0 0 0 / 20%);
}

.QR_Title_Tag_Container {
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.QR_History_Title {
    height: 40px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #dadada;
}

.QR_History_Tagline {
    height: 25px;
    width: 89%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c8c8c8;
    font-size: 14px;
}

.QR_History_Codes {
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}


/* Webkit Socket Scrollbar Section */

.QR_History_Codes::-webkit-scrollbar{
    width: 3.5px;
}

.QR_History_Codes::-webkit-scrollbar-thumb{
    background-color: #adadad;
    border-radius: 10px;
}

.QR_History_Codes::-webkit-scrollbar-track{
    background-color: #212121;
}



/* QR History Codes */

.History_QR_Code_A {
    height: 45px;
    width: 95%;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
}

.QR_Code_List {
    border: 1.5px solid #989898;
    border-radius: 6px;
    height: 43px;
    width: 86%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.QR_Code_1 {
    width: 100%;
    font-family: sans-serif;
    color: #c8c8c8;
    font-size: 15px;
}

.QR_Code_Remove_Button {
    height: 43px;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QR_Remove_Btn {
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    color: #dadada;
}

.QR_Remove_Btn:hover {
    cursor: pointer;
    color: #c5c5c5;
}




/* History Section Close Section */

.QR_History_Close_Container {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 200px;
    left: 15px;
}

#Close_Button {
    height: 46px;
    width: 42px;
    font-size: 45px;
    background: none;
    color: #ff0000;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

#Close_Button:hover {
    cursor: pointer;
    color: #ff5454;
}









/*                              CODE ENDs HeRe                             */