/* CODE STARTS FROM HeRe */


* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./Utility Folder/BG_IMG_Makima.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.Main_Box_Container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}






/*-----------------------------------------------------------------------MAIN BOX CODE CONTENT */


.Main_Box {
    /* border: 2px solid red; */
    height: 99vh;
    width: 68vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main_QR_Box {
    /* border: 1px solid black; */
    height: 76vh;
    width: 50vw;
    background-color: rgb(95 124 193 / 83%);
    border-radius: 20px;
    box-shadow: 0 20px 56px rgba(0, 0, 0, 0.2);
    ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* QR Text Title Section */

.QR_Text_Container {
    /* border: 1px solid red; */
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.QR_Text {
    /* border: 1px solid green; */
    color: #212121;
    font-size: 35px;
    font-weight: 550;
}

/* QR Short Note Section */

.Text_Note_Container {
    /* border: 1px solid red; */
    height: auto;
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #222222;
}

.Text_Note {
    /* border: 1px solid green; */
    font-size: 14.5px;
    text-align: center;
}

/* QR URL Section */

.URL_Section {
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
}

.URL_Area {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#URL_Input {
    /* border: 1px solid green; */
    height: 42px;
    width: 91%;
    outline: none;
    border: none;
    background-color: #000000;
    border-radius: 7px;
    padding-left: 10px;
    color: white;
    font-size: 14px;
}

/* Expiration Select Section */

.Select_Section {
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.Select_Area {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Select_Expiry {
    /* border: 1px solid green; */
    height: 42px;
    width: 92.5%;
    outline: none;
    border: none;
    background-color: #000000;
    color: #7e7e7e;
    border-radius: 7px;
    padding-left: 6px;
    font-size: 14px;
}

/* Generate Button Section */

.Generate_Container {
    /* border: 1px solid red; */
    width: 100%;
    height: 75px;
    font-family: sans-serif;
}

.Generate_Area {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Generate_Btn {
    /* border: 1px solid green; */
    height: 50px;
    width: 175px;
    font-size: 16px;
    border-radius: 11px;
    color: #bdbdbd;
    background-color: #212121;
    border: none;
    font-weight: bold;
}

#Generate_Btn:hover {
    cursor: pointer;
    background-color: #000000;
}








/*-----------------------------------------------------------------------SIDE TOOL CODE SECTION */

.Side_Tool_Box {
    /* border: 2px solid black; */
    height: 99vh;
    width: 30vw;
}

/* History Button Section */

.Tool_Container {
    /* border: 1px solid red; */
    height: 45px;
    width: 100%;
}

.History_Area {
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    display: flex;
    /* gap: 2px; */
    justify-content: end;
    align-items: center;
}

#History_Img {
    /* border: 1px solid black; */
    height: 35px;
    width: 35px;
}

#History_Btn {
    border: 1px solid black;
    border-radius: 3px;
    height: 22px;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
    color: white;
    outline: none;
}

#History_Btn:hover {
    cursor: pointer;
    background-color: #000000;
}








/*-----------------------------------------------------------------------POP-UP PAGE SECTION */

.Pop-Up_Section {
    /* border: 1px solid red; */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
    display: flex;
}

/* QR History Section */

.QR_History {
    /* border: 1px solid white; */
    height: 86vh;
    width: 33vw;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 15px;
}

.QR_Title_Tag_Container {
    /* border: 1px solid blue; */
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.QR_History_Title {
    /* border: 1px solid red; */
    height: 40px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #dadada;
}

.QR_History_Tagline {
    /* border: 1px solid red; */
    height: 25px;
    width: 89%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c8c8c8;
    font-size: 14px;
}

.QR_History_Codes {
    /* border: 1px solid red; */
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

/* QR History Codes */

.History_QR_Code_A {
    border: 1px solid yellow;
    height: 45px;
    width: 95%;
    position: relative;
    top: 10px;
}

.History_QR_Code_B {
    border: 1px solid yellow;
    height: 45px;
    width: 95%;
    position: relative;
    top: 10px;
}